In [7]:
import pandas as pd

In [89]:
df = pd.read_csv('adult.data.csv')
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
age               32561 non-null int64
workclass         32561 non-null object
fnlwgt            32561 non-null int64
education         32561 non-null object
education-num     32561 non-null int64
marital-status    32561 non-null object
occupation        32561 non-null object
relationship      32561 non-null object
race              32561 non-null object
sex               32561 non-null object
capital-gain      32561 non-null int64
capital-loss      32561 non-null int64
hours-per-week    32561 non-null int64
native-country    32561 non-null object
salary            32561 non-null object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

#### 1. Сколько женщин (признак sex) представлено в этом наборе данных?

In [21]:
df['sex'].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

#### 2. Каков средний возраст (признак age) женщин?

In [33]:
df.loc[df['sex'] == 'Female', 'age'].mean()

36.85823043357163

#### 3. Какова доля граждан Германии (признак native-country) в процентах?

In [37]:
nv = df['native-country'].value_counts(normalize=True)

In [39]:
nv['Germany'].round(4)

0.0042

#### 4. Каковы средние и среднеквадратичные отклонения возраста тех, кто получает более 50K в год (признак salary)?

In [45]:
df.loc[df['salary'] == '>50K', 'age'].describe()

count    7841.000000
mean       44.249841
std        10.519028
min        19.000000
25%        36.000000
50%        44.000000
75%        51.000000
max        90.000000
Name: age, dtype: float64

#### 5. Каковы средние значения и среднеквадратичные отклонения возраста тех, кто получает менее 50K в год (признак salary)?

In [46]:
df.loc[df['salary'] == '<=50K', 'age'].describe()

count    24720.000000
mean        36.783738
std         14.020088
min         17.000000
25%         25.000000
50%         34.000000
75%         46.000000
max         90.000000
Name: age, dtype: float64

#### 6. Правда ли, что люди, которые получают больше 50k, имеют как минимум высшее образование? (признак education равен Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters или Doctorate)

In [49]:
df.loc[df['salary'] == '>50K', 'education'].value_counts(normalize=True)

Bachelors       0.283255
HS-grad         0.213621
Some-college    0.176891
Masters         0.122306
Prof-school     0.053947
Assoc-voc       0.046040
Doctorate       0.039026
Assoc-acdm      0.033797
10th            0.007907
11th            0.007652
7th-8th         0.005101
12th            0.004209
9th             0.003443
5th-6th         0.002041
1st-4th         0.000765
Name: education, dtype: float64

#### 7. Каков максимальный возраст мужчин расы Amer-Indian-Eskimo?

In [58]:
df.loc[df['race'] == 'Amer-Indian-Eskimo', 'age'].max()

82

#### 8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак marital-status для женатых равен Married-civ-spouse, Married-spouse-absent или Married-AF-spouse)

In [66]:
salary_over_50 = df.loc[df['salary'] == '>50K', :]
salary_over_50.loc[salary_over_50['sex'] == 'Male', 'marital-status'].value_counts(normalize=True)

Married-civ-spouse       0.891324
Never-married            0.048784
Divorced                 0.042630
Separated                0.007355
Widowed                  0.005854
Married-spouse-absent    0.003452
Married-AF-spouse        0.000600
Name: marital-status, dtype: float64

#### 9. Какое максимальное число часов человек работает в неделю (признак hours-per-week)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?

In [68]:
df['hours-per-week'].max()

99

In [81]:
df.loc[df['hours-per-week'] == 99, 'salary'].shape

(85,)

In [80]:
df.loc[df['hours-per-week'] == 99, 'salary'].value_counts(normalize=True).round(2)

<=50K    0.71
>50K     0.29
Name: salary, dtype: float64

#### 10. Каково среднее время работы (hours-per-week) зарабатывающих мало и много (salary) для Японии?

In [86]:
native_japan = df.loc[df['native-country'] == 'Japan', :]

In [88]:
native_japan.groupby(['salary'])['hours-per-week'].describe(percentiles=[])

        count       mean        std   min   50%   max
salary
<=50K    38.0  41.000000  11.902759  10.0  40.0  65.0
>50K     24.0  47.958333  16.120414  21.0  42.5  99.0

# Итог: 10 из 10 балов